/* Meta Boxes */

.cpc-meta-box-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
  max-width: 450px;
}

.cpc-meta-box-field:first-child {
  margin-top: 0;
}

/* Parish Details Settings Page */

.cpc-details-settings-page .form-table > tbody > tr > td > input,
.cpc-details-settings-page .form-table > tbody > tr > td > textarea {
  width: 300px;
}

.cpc-details-settings-page {
  font-size: 16px;
  padding: 12px;
}

.cpc-details-settings-page header,
.cpc-details-settings-page footer {
  background-color: rgb(226, 226, 226);
  border-radius: 4px;
  padding: 20px;
  display: flex;
}

.cpc-details-settings-page header {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cpc-details-settings-page header > h1,
.cpc-details-settings-page header > p {
  margin-top: 0;
}

.cpc-details-settings-page header > p {
  max-width: 700px;
}

.cpc-details-settings-page header,
.cpc-details-settings-page main,
.cpc-details-settings-page footer {
  max-width: 780px;
  margin: 0 auto;
}

.cpc-details-settings-page footer {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
}

.cpc-details-settings-page footer,
.cpc-details-settings-page main > section:first-child {
  margin-top: 24px;
}

.cpc-details-settings-page section {
  padding: 6px 0 22px 0;
}

.cpc-details-settings-page h1 {
  font-size: 38px;
}

.cpc-details-settings-page h2 {
  font-size: 28px;
}

.cpc-details-settings-page h1,
.cpc-details-settings-page h2 {
  font-weight: 600;
  line-height: 1.2;
  margin: 18px 0;
}

.cpc-details-settings-page p {
  font-size: 16px;
}

.cpc-details-settings-page .cpc-details-settings-section-subtext {
  font-size: 15px;
}

.cpc-details-settings-page ul {
  list-style: disc;
  margin-left: 32px;
}

.cpc-details-settings-page em {
  font-style: italic;
}
